:root {
    --dark-blue: rgb(46, 105, 255);
    --dark-red: rgb(242, 58, 60);
    --green-color: rgb(24, 189, 91);
    --light-blue: rgb(241, 245, 255);
    --light-red: rgb(255, 237, 237);
    --main-text: rgb(44, 51, 69);
    --secondary-text: rgb(87, 100, 126);
    --table-color: rgb(195, 202, 216);
    --button-text: white;
}
body {
    font-family: "Inter", sans-serif;
    color: var(--main-text);
}
h2 {
    font-size: 16px;
}
.required-sign {
    color: var(--dark-red);
}

.inout-label{
    display: block;
}

/* .input-block{
    display: flex;
    justify-content: space-between;
} */

/* .input-lable{

} */

.submit button {
    background-color: var(--green-color);
    border: none;
    color: var(--button-text);
}
